/* Should be used inside of the header, main, and footer */
.wrapper {
  max-width: 800px;
  margin: 16px auto;
  padding: 0 20px;
}
.wrapper--mini {
  margin: 8px auto;
}
/* The header, nav bar, and footer */
header, nav {
  border-bottom: solid 1px #CCC;
  overflow: hidden;
}
#header-user {
  float: right;
  text-align: right;
}
#header-user > a, #header-user img {
  vertical-align: middle;
  line-height: 25px;
  height: 25px;
  display: inline-block;
}
nav {
  background-color: #EEE;
}
nav h1 {
  margin: 0;
}
footer {
  border-top: solid 1px #CCC;
}
/* Use underline-on-hover for links.
   This is used for consistency, since fill-link breaks outlines. */
:link, :visited {
  text-decoration: none;
  color: #4d76ae;
}
:visited {
  color: #ae4d76;
}
:link:hover, :link:focus,
:visited:hover, :visited:focus {
  text-decoration: underline;
  outline: none;
}
/* Blog listing styles */
.blog {
  padding: 16px 0;
  overflow: hidden;
}
.blog--item {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: solid 1px #EEE;
}
.pagination {
  position: relative;
}
.pagination--item {
  border: solid 1px currentColor;
  padding: 8px 10px;
}
.pagination--item.disabled {
  color: #999;
  font-weight: normal;
}
.pagination--item.left {
  float: left;
}
.pagination--item.right {
  float: right;
}
.more {
  display: block;
}
.more--header {
  color: inherit;
}
.less {
  font-size: 1rem;
  font-weight: normal;
}
.clearfix {
  clear: both;
}
/* The tab bar. */
.tabs {
  margin: -1px auto;
  padding: 0 20px;
  max-width: 1000px;
}
.tabs::after {
  content: ". . . . . . . . . . ";
  visibility: hidden;
  display: block;
  width: 0; height: 0; overflow: hidden;
  clear: both;
}
.tab {
  /* The 1px border on the left and right adds it up to 10px */
  /* The top and bottom are 8px, even with the border, because of the -1px margin on tabs */
  padding: 8px 8px 8px 9px;
  float: left;
  border: solid 1px transparent;
  margin-left: -1px;
  transition: border-color 0.1s ease-in-out;
}
.tab--active, .tab:hover, .tab:focus {
  border-color: #CCC;
  border-bottom-color: transparent;
  text-decoration: none;
}
.tab--active {
  background: #FFF;
}
/* The fancy table. */
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}
.table tr[role="row"] {
  transition-duration: 0.1s;
  transition-timing-function: ease;
  transition-property: background;
}
.table col td:not([role="presentation"]) {
  background: #EEE;
}
.table tbody tr[role="row"]:hover {
  background: #EEE;
}
.table th {
  color: #666;
  font-weight: bold;
  text-align: left;
}
.table tr[role="row"] th, .table tr[role="row"] td {
  padding: 8px 10px;
}
.fill-link {
  overflow: hidden;
}
.fill-link > * {
  display: block;
  margin: -20em;
  padding: 20em;
}
/* The page headers. */
.header {
  border-bottom: solid 1px #CCC;
  margin: 0;
  margin-bottom: 7px;
  padding-bottom: 8px;
}
.header--allcaps {
  text-transform: uppercase;
}
/* The buttons and the bars that they go inside */
.toolbar {
  margin: 32px -10px;
}
.toolbar form {
  display: inline;
}
.toolbar-item {
  margin: -8px 10px;
  padding: 8px 10px;
  color: #FFF;
  background-color: #4d76ae;
  border: none;
  border-radius: 8px;
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0 1px 2px #666;
  cursor: pointer;
}
.toolbar-item:hover, 
.toolbar-item:focus {
  text-decoration: none;
  box-shadow: 0 1px 4px #666;
}
.toolbar-item:active {
  box-shadow: 0 0 0 #666;
}
.toolbar-item--disabled,
.toolbar-item--disabled:hover,
.toolbar-item--disabled:active,
.toolbar-item--disabled:focus {
  box-shadow: none;
  background-color: #999;
  cursor: not-allowed;
}
.toolbar-item--add {
  background: #5e9766;
}
.toolbar-button--remove {
  background-color: #df3600;
}
/* A responsive image */
.gallery img {
  max-width: 100%;
}
.gallery {
  margin: 8px 10px;
  border: solid 1px #EEE;
}
/* Code previews */
.highlighter-rouge {
  margin: 32px 0;
}

.highlighter-rouge pre.highlight {
  padding: 16px;
  margin: -16px;
  overflow-x: auto;
}
