---
layout: home
title: "Strict Mode for your Continuous Testing"
---

<main>
<div class=wrapper>

<section class=blog>

{% for post in paginator.posts %}
  <article class=blog--item>
    <h2 class="header">
      <a href="{{ post.url }}" class="more more--header">{{ post.title }}</a>
      <span class=less>{{ post.date | date: "%b %-d, %Y" }}</span>
    </h2>
    <p>{{ post.summary }}</p>
    <a href="{{ post.url }}" class=more>Read more...</a>
  </article>
{% endfor %}
  {% include pagination.html %}
</section>

</div>
</main>
