---
layout: home
title: "bors &mdash; consistent automated testing"
---

<nav><div class=wrapper>

{% if paginator.page == 1 %}

<h1 class="header header--allcaps">Consistent automated testing</h1>

<p>Running tests on each developer's branch is not sufficent.
They may <a href="/essay/2017/02/02/pitch/">conflict in a semantic way</a>
that causes the master branch to fail when merged.
Additional work that is built on such a broken master branch is tainted,
unable to tell which failures are the result of an existing bug or a new one.

<p>Instead, the combined system must be tested, as a whole,
before the work becomes a part of the master branch which will form the basis of future work.
Doing so, as work continues unabated, will force a backlog to be enqueued.

<p><a href="http://graydon2.dreamwidth.org/1597.html" title="The not-rocket-science rule of software engineering">This system should be automated</a>.
The tool that automates this is called bors.

<footer><div class=toolbar>
<a class="toolbar-item toolbar-item--add" href="/getting-started/">Getting started</a>
<a class="toolbar-item" href="https://bors-app.herokuapp.com">Log in to the dashboard</a>
<a class="toolbar-item toolbar-item--remove" href="https://bors-app.herokuapp.com">Log in to the dashboard</a>
</div></footer>

{% else %}

<h1>Page {{ paginator.page }}/{{ paginator.total_pages }}</h1>

{% endif %}

</div></nav>

<div class=wrapper>

<section class=blog>
{% for post in paginator.posts %}
  <article class=blog--item>
    <h2 class="header">
      <a href="{{ post.url }}" class="more more--header">{{ post.title }}</a>
      <span class=less>{{ post.date | date: "%b %-d, %Y" }}</span>
    </h2>
    <p>{{ post.summary }}</p>
    <a href="{{ post.url }}" class=more>Read more...</a>
  </article>
{% endfor %}
  {% include pagination.html %}
</section>

</div>

{% if paginator.page == 1 %}
<footer><div class=wrapper>
  <h2 class=header>Quick command reference</h2>
  <dl>
    <dt>bors r+
      <dd>Run the test suite, and push to master if it passes. Short for "reviewed: looks good."
    <dt>bors r=USER1,USER2,USER3...
      <dd>Same as r+, but the "reviewer" in the commit log will be recorded as the user(s) given as the argument.
    <dt>bors r-
      <dd>Cancel an r+ or r=.
    <dt>bors try
      <dd>Run the test suite, without pushing to master.
    <dt>bors delegate+
      <dd>Allow the pull request author to r+ their changes.
    <dt>bors delegate=USER1,USER2,USER3...
      <dd>Allow the listed users to r+ this pull request's changes.
  </dl>
</div></footer>
{% endif %}
