<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="{{ "/feed.xml" | prepend: site.baseurl }}">
    <link rel="shortcut icon" type="image/svg+xml" title="bors eye" href="/images/i.svg">

    <!-- Custom CSS -->
    {% if page.layout != "home" %}
    <link rel="stylesheet" href="{{ "/css/style-3.css" }}" type="text/css">
    {% endif %}
</head>
