<!DOCTYPE html>
<html>
{% include head.html %}
<body>

  <section class=topnav><div class=wrapper>
    <p>Heads up! Bors-NG's public instance is being phased out in favor of <a href="https://github.blog/2023-07-12-github-merge-queue-is-generally-available/">GitHub Merge Queues</a>.</p>
    <p>Read the updated <a href="/documentation/getting-started/">Getting Started Guide</a> to self-host your own instance of Bors-NG, or visit GitHub's docs for information on merge queues.</p>
  </div></section>

  {% include header.html %}

  {{ content }}

  {% include footer.html %}
</body>
</html>
