---
layout: default
---
<nav>
  {% if page.collection and page.collection != "posts" %}
    <div class=wrapper>
      <h1>{{ page.collection | capitalize }}</h1>
    </div>
    <div class="tabs" role=tabs>
    {% for item in site[page.collection] %}
      {% if item.url == page.url %}
      <a class="tab tab--active">{{ item.title }}</a>
      {% else %}
      <a class="tab" href="{{ item.url }}">{{ item.title }}</a>
      {% endif %}
    {% endfor %}
    </div>
  {% else %}
    <div class=wrapper>
      <h1>{{ page.title }}</h1>
    </div>
  {% endif %}
</nav>
<main role=main><div class="wrapper">
  {{ content }}
</div></main>
